
infodisplayConfig = $.extend({}, infodisplayConfig, (function() {
    var config = {};

    // Reittiopas
    config.reittiopas = {};
    config.reittiopas.username = "";
    config.reittiopas.password = "";
    config.reittiopas.baseUrl = 'http://api.reittiopas.fi/public-ytv/fi/api/?user=' + config.reittiopas.username + '&pass=' + config.reittiopas.password + '&stop=';

    config.reittiopas.stops = [
        {
            name: "Long walk",
            url: config.reittiopas.baseUrl + '1055'
        },
        {
            name: "Short walk",
            url: config.reittiopas.baseUrl + '1045'
        }
    ];

    // Weatherbug
    config.weatherbug = {};
    config.weatherbug.API_CODE = '';
    config.weatherbug.BASE_URL = 'http://' + config.weatherbug.apiCode + '.api.wxbug.net/getLiveWeatherRSS.aspx';

    // Search city codes by 'http://a4673533785.api.wxbug.net/getLocationsXML.aspx?ACode=A4673533785&SearchString=<city name>'
    config.weatherbug.locations = [
        { name: "Helsinki", code: 62073 },
        { name: "Tampere", code: 62152 },
        { name: "Berlin", code: 58439 }
    ];

    // Taxi (optional)
    /*
    config.taxi = {
        sms: {
          number: '13170',
          address: 'helsinki vattuniemenranta 2'
        },
        phone: '0100 0700'
    }
    //*/

    return config;
})());
