var REITTIOPAS_BASE_URL = 'http://api.reittiopas.fi/public-ytv/fi/api/?user=TODO&pass=TODO&stop=';
var SHORT_WALK_STOP_URL = REITTIOPAS_BASE_URL + 'TODO';
var LONG_WALK_STOP_URL = REITTIOPAS_BASE_URL + 'TODO';

var WEATHERBUG_API_CODE = 'TODO';
var WEATHERBUG_BASE_URL = 'http://' + WEATHERBUG_API_CODE + '.api.wxbug.net/getLiveWeatherRSS.aspx';

